/*Seção responsável pela estilização da página Sobre nós*/
.about {
    @include for-phone-only{
        width: 90%;
    }
    
    width: 80%;
    margin: 0 auto 40px;
    font-family: $fonte-padrao;

    &__title {
        background-color: $cor-branca;
        text-align: center;
        padding: 20px;
    }

    &__h1 {
        @include font-size(22px);
        color: $cor-cinza-escuro;
        letter-spacing: 1px;
        @extend %half-margin-top, %default-margin-bottom, %no-margin-left, %no-margin-right;
    }

    .breadcrumb {
        @include flx(justify-content, center);
        align-items: center;

        &__link {
            @include font-size(12px);
            text-decoration: none;
            color: $cor-cinza-escuro;

            &:hover {
                text-decoration: underline;
                color: $cor-roxa;
            }
        }

        &__img {
            width: 10px;
            height: 8px;
        }
    }

    &__img {
        width: 100%;
        @extend %double-margin-bottom;
    }

    &__intro {
        font-weight: 100;
        color: $cor-cinza-escuro;
        width: 70%;
        margin: 30px auto;
        text-align: center;
        @include font-size(16px);

        @include for-phone-only {
            width: 90%;
        }
        @include for-tablet-only {
            width: 80%;
        }
    }

    &__split {
        @include flx(justify-content, center);
        flex-wrap: wrap;
        align-items: center;
    }

    &__img-description {
        width: $img-width;
        @include for-phone-only {
            width: 80%;
        }
    }

    &__txt {
        width: calc(100% - #{$img-width});
        @include for-phone-only {   
        width: 90%;
        text-align: center;
    }
    }

    &__p {
        @include font-size(14px);
        padding: 10px 20px;
        color: $cor-cinza-escuro;
    }
}