@mixin flx($property, $jty-cnt) {
    display: flex;
    #{$property}: $jty-cnt
}

@mixin reset-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

@mixin for-phone-only {
    @media (max-width: 767,98px) { @content; }
}

@mixin for-tablet-only {
    @media (min-width: 768px) and (max-width: 1199,98px) { @content; }
}

@mixin for-desktop-only {
    @media (min-width: 1200px) { @content; }
}

/*Seção responsável pela estilização da página Sobre nós*/
.about {
    width: 80%;
    margin: 0 auto 40px;
    font-family: $fonte-padrao;

    &__title {
        background-color: $cor-branca;
        text-align: center;
        padding: 20px;
    }

    &__h1 {
        font-size: 22px;
        color: $cor-cinza-escuro;
        letter-spacing: 1px;
        margin-top: 5px;
        margin-bottom: 10px;
        margin-left: 0;
        margin-right: 0;
    }

    .breadcrumb {
        @include flx(justify-content, center);
        align-items: center;

        &__link {
            font-size: 12px;
            text-decoration: none;
            color: $cor-cinza-escuro;

            &:hover {
                text-decoration: underline;
                color: $cor-roxa;
            }
        }

        &__img {
            width: 10px;
            height: 8px;
        }
    }

    &__img {
        width: 100%;
        margin-bottom: 20px;
    }

    &__intro {
        font-weight: 100;
        color: $cor-cinza-escuro;
        width: 70%;
        margin: 30px auto;
        text-align: center;
        font-size: 16px;
    }

    &__split {
        @include flx(justify-content, center);
        flex-wrap: wrap;
        align-items: center;
    }

    &__img-description {
        width: $img-width;
    }

    &__txt {
        width: calc(100% - #{$img-width});
    }

    &__p {
        font-size: 14px;
        padding: 10px 20px;
        color: $cor-cinza-escuro;
    }
}