/*Este trecho de estilo se refere
ao rodapé do nosso blog.*/
.footer {
    text-align: center;
    padding: 20px 0;
    font-family: $fonte-padrao;
    position: relative;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);

    &__logo {
        max-width: 100px;
    }

    &__txt {
        margin: auto;
        @include font-size(14px);
    }
}
