$cor-roxa: #a050b1;
$cor-branca: #eaeaeb;
$cor-cinza-escuro: #464646;
$cor-amarelo:#FABE50;
$fonte-padrao: Arial, Helvetica, sans-serif;
$img-width: 45%;

%no-decoration {text-decoration: none;}
%u-decoration {text-decoration: underline;}

@mixin flx($property, $jty-cnt) {
    display: flex;
    #{$property}: $jty-cnt
}

@mixin reset-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

@mixin for-phone-only {
    @media (max-width: 767,98px) { @content; }
}

@mixin for-tablet-only {
    @media (min-width: 768px) and (max-width: 1199,98px) { @content; }
}

@mixin for-desktop-only {
    @media (min-width: 1200px) { @content; }
}

@function calculateRem($size) {
    @return $size / 16px * 1rem;
}

@mixin font-size($size) {
    font-size: calculateRem($size);
}

@import "header", "footer", "about", "article";

$directions: top, bottom, left, right;
$layout-margin-size: 10px;

@each $direction in $directions {
    %no-margin-#{$direction} {margin-#{$direction}: 0;}
    %default-margin-#{$direction} {margin-#{$direction}: $layout-margin-size;}
    %double-margin-#{$direction} {margin-#{$direction}: $layout-margin-size * 2;}
    %half-margin-#{$direction} {margin-#{$direction}: $layout-margin-size / 2;}
}

/*Este trecho se refere ao main do blog*/
.main {
    @include flx(justify-content, center);
    flex-wrap: wrap;
    font-family: $fonte-padrao;

    &__content {
        @include for-phone-only {
            width: 100%;
        }
        width: 70%;
        padding: 40px 8px;
    }

    &__post {
        text-align: center;
        max-width: 800px;
        margin-left: auto;
        margin-right: auto;
    }

    &__title {
        text-decoration: none;
        @include font-size(22px);
        color: $cor-cinza-escuro;
        letter-spacing: 1.5;

        &:hover {
            color: $cor-roxa;
        }
    }

    &__subtitle {
        display: flex;
        justify-content: center;
        align-items: center;
        @extend %default-margin-top, %double-margin-bottom;
    }

    &__date {
        @extend %no-margin-top, %no-margin-bottom, %default-margin-right, %default-margin-left;
        @include font-size(12px);
        font-style: italic;
    }

    &__tag {
        @include font-size(14px);
        padding: 5px 7px;
        color: $cor-roxa;
        border: 1px solid $cor-roxa;
        @extend %no-margin-top, %no-margin-bottom, %default-margin-right, %default-margin-left;
    }

    &__details {
        border: 1px solid $cor-cinza-escuro;
    }

    &__img {
        width: 100%;
    }

    &__description {
        padding: 40px 0 25px;
        max-width: 650px;
        margin-left: auto;
        margin-right: auto;
        @include font-size(14px);
    }

    &__btn {
        text-decoration: none;
        @include font-size(16px);
        letter-spacing: 1.5;
        color: $cor-roxa;
        background-color: $cor-amarelo;
        padding: 10px 20px;
        transition: .3s;

        &:hover {
            color: $cor-amarelo;
            background-color: $cor-roxa;
        }
    } 
    
    &__info{
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-top: 1px solid $cor-cinza-escuro;
        margin-top: 30px;
    }

    &__author {
        width: 50%;
        border-right: 1px solid $cor-cinza-escuro;
    }

    &__p {
        @include font-size(14px);
        color: $cor-cinza-escuro;
        @extend %default-margin-top, %default-margin-bottom;
    }

    &__comments {
        width: 50%;
    }

    &__a {
        text-decoration: none;
        @include font-size(14px);
        color: $cor-cinza-escuro;
        @extend %default-margin-top, %default-margin-bottom;

        &:hover {
            color: $cor-roxa;
        }
    }

    &__sidebar {
        width: 25%;
        padding: 40px 10px;
    }

    .sidebar {
        &__top {
             border: 1px solid $cor-branca;
             text-align: center;
             padding: 20px;
        }

        &__title {
            background-color: $cor-amarelo;
            text-align: center;
            padding: 10px 20px;
            margin: 0;
            letter-spacing: 1.5px;
        }

        &__posts {
            @include reset-list;
        }

        &__list {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            align-items: center;
            padding: 15px 0;
            &:not(:last-child) {
                border-bottom: 1px dashed $cor-branca;
            }
        }

        &__img {
            width: 40%;
        }

        &__details {
            width: 50%;
            padding-left: 10px;
        }

        &__post-title {
            @include font-size(14px);
            color: $cor-roxa;
            @extend %no-decoration;

            &:hover {
                @extend %u-decoration;
            }
        }

        &__post-date {
            @include font-size(12px);
            margin: 1.5px 0 0 0;
        }
    }
}